[DEFAULT]

# The directory where BackupPC will store its data.
backupdir = /var/backuppc/backups

# The database where BackupPC will store its data.
dbname = backuppc
dbuser = backuppc
dbpassword = changeme

# The port that BackupPC will listen on.
port = 3003

# The maximum number of concurrent backups.
max_backups = 10

# The maximum size of a backup in megabytes.
max_backup_size = 1000

# The maximum number of days to keep a backup.
max_backup_age = 30

# The email address that will receive backup notifications.
email_to = root@localhost

# The email address that will be used to send backup notifications.
email_from = backuppc@localhost

[client]

# The hostname or IP address of the client computer.
hostname = 146.190.144.209

# The username of the user on the client computer that has permission to access the backup data.
username = root

# The password of the user on the client computer that has permission to access the backup data.
password = kobotoolbox123MINCOM

# The directories that should be backed up.
directories = /home,/etc